@media screen and (max-width: 412px) {
    *{
        max-width: 410px;
        /* margin: 0;
        padding: 0; */
    }
    /* Nav */
    nav, .nav-menu,.header2,.footer-menu,
    .terms-condition
    .play-instant-container{
        flex-direction: column;
    }
    .nav-menu{
        gap: 25px;
    }
    .nav-menu a{
        margin: 0 auto;
        
    }
    
    
    /* Header */
    .header{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .header-left{
        width: 70%;
        margin: 0 auto;
    }
    .header-left h1, h3{
        text-align: center;
    }
    .header-left p{
        font-size: 15px;
    }
    .header-right img{
        width: 90%;
        
    }
    .online-games{
        grid-template-columns: repeat(1, 1fr);
    }
    .left-contents{
        width: 95%;
        text-align: center;
    }
    /* play instants */
    .play-instant-container{
        flex-direction: column;
    }
    .play-instant{
    width: 50%;
    align-items: center;
    margin: 0 auto;
}
.features-img{ 
    width: 50%; 
    height: 200px;
    margin: 0 auto;
   align-items: center;
}
.features-img > img{
    width: 80%;
    position: relative;
    left: 30px;
}
.features-badge img{
    width: 40%;
}
.features-badge{
    /* width: 300px; */
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: -85px;
    left: -15px;
    border-radius: 5px;
}
    /* games */
    .games{
        width: 100px;
    }
    .games img{
        width: 40%;
    }
    .games p{
        font-size: 10px;
    }
    .game-features{
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    /* Footer Menu */
    footer,.footer-title{
        max-width: 418px;
    }
    .footer-menu{
        /* align-items: center; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icons{
        margin: 0 auto;
    }
    .terms-condition{
        max-width: 410px;
        align-items: center;
    }
}