*{
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* Navigation Styles */

header, main{
    width: 1200px;
    border: 1px solid;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 5px;
}
span{
    color: rgb(249, 57, 127);
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title img{
    width: 80px;
    height: 30px;   
}
.nav-menu{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}
.nav-menu a{
    text-decoration: none;
}
.fa-brands{
    margin-left: 5px;
}
.fa-solid{
    margin-right: 5px;
}
.follow-us{
    background-color: rgb(213, 201, 201);
    padding: 5px;
    border-radius: 5px;
}



/* Header Part styles */
.header-right img{
    width: 450px;
    height: 400px;
}
.header-left{
    width: 600px;
}
.header{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
}
.goat, .funny-videos{
    font-weight: bolder;   
    font-size: 50px;
    background-image: linear-gradient(to top, rgb(249, 57, 127) , blueviolet);
    color: transparent;
    -webkit-background-clip: text;
}
.funny-videos{
    font-weight: 700;
    font-size: 30px;
}
.header-btn, .go-rogue-btn{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(249, 57, 127);
    font-weight: 700;
    font-size: 15px;
}
.go-rogue-btn{
    background-color: #4EC5F7;
}

/* Main */
.main-container-headings{
    text-align: center;
    margin-top: 30px;
}
.online-games{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 0px;
}
/* .online-games img{
    width: 100%;
} */
.online-games img:hover{
    border: 5px solid rgb(249, 57, 127);
    border-radius: 25px;
    animation-play-state: paused;
}
figcaption, .main-container-headings p{
    font-size: 15px;
}
/* animation effects */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
.animation {
    animation: pulse 3s infinite;
  }
  &:hover {
    animation-play-state: paused;
  }
/*   
figure a{
    position: absolute;
    left: 400px;
    bottom: 1200px;
    
}
 .glightbox_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
     stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
  }
  
  .glightbox_video:hover .outer_circle {
  stroke-dashoffset:410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out
  }
  
  .glightbox_video:hover 
  .inner-circle {
    fill: #BF2428;
    transition:fill .4s .3s ease-out;
    animation-play-state: running;
  }
  
  .glightbox_video:hover
  .play{
      fill: white;
    transition:fill .4s .3s ease-out;
  } */